data/BraTS2020/image
data/BraTS2020/label
data/BraTS2020/CLIP_label
data/BraTS2020/LayerCAM
data/BraTS2020/raw_data
data/BraTS2020/SAM_label
CLISC.egg-info
train/resnet50_model
train/UNet3D_model
trash